#wrapper{
    margin:0;
    width:100%;
    background-image: url("../window/images/background.jpg");
  }

#open{
    font-size:15pt;
}

.intro{
    font-size:50px;
    color:green;
    float:right;
}
